body {
	text-align: center;
	margin-bottom: 100px;
}

.section {

}


#gallery {
	margin-top: 100px;
	margin-bottom: 50px;
	width: 100%;
}

.carousel-inner {
	margin: auto;
	width: 100%;
}

.carousel-item img {
	margin: auto;
	width: 100%;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#map-image {
	margin: auto;
}



@media (max-width: 991px) {
	.navbar-brand {
		font-size: 30px;
	}
	.nav-item.nav-link {
		font-size: 25px;
	}
}

@media (min-width: 992px) {
	.carousel-inner {
		max-width: 900px;
	}
}